<%- include('../partials/header') %>
    <div class="row">
      <div class="col-4 offset-4 mt-5">
        <fieldset>
          <legend>Add New Flight</legend>
          <form action="/flights" method="POST" class="form" autocomplete="off">
            <div class="mb-3">
              <label for="airline" class="form-label">Airline</label>
              <select name="airline" class="form-control">
                <option>Pick One</option>
                <option value="American">American</option>
                <option value="Southwest">Southwest</option>
                <option value="United">United</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="airport" class="form-label">Airline</label>
              <select name="airport" class="form-control">
                <option value="AUS">AUS</option>
                <option value="DFW">DFW</option>
                <option value="DEN" selected>DEN</option>
                <option value="LAX">LAX</option>
                <option value="SAN">SAN</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="flightNo" class="form-label">Flight Number</label>
              <input type="text" class="form-control" name="flightNo">
            </div>
            <div class="mb-3">
              <label for="departs">Departs</label>
              <input type="datetime-local" class="form-control" name="departs" value="<%= departsTime %>">
            </div>
            <div class="mb-3">
              <button class="btn btn-primary" type="submit">Save Flight</button>
            </div>      
          </form>
        </fieldset>
      </div>
    </div>
<%- include('../partials/footer') %>